{% extends 'base.html' %}
{% block title %}
Profile
{% endblock title %}
{% block body %}




<div class="container">

    <div class="row">
    
    <div class="col-md-3"> </div>
    
    <div class="col-md-6">
    
    
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong></strong> {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <h1>Enrollment Details</h1>
    {% comment %} Contact Us COde  {% endcomment %}
    {% for post in posts %}
    
   
    <ul class="list-group">
        <li class="list-group-item bg-dark text-white"><h2>Name : {{post.FullName}}</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>Email : {{post.Email}}</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>Gender : {{post.Gender}}</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>PhoneNumber : {{post.PhoneNumber}}</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>DOB : {{post.DOB}}</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>Membership plan : {{post.SelectMembershipplan}}</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>Trainer : {{post.SelectTrainer}}</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>Reference : {{post.Reference}}</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>Address : {{post.Address}}</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>Payment Status : {{post.paymentStatus}}</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>Amount Paid : {{post.Price}}</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>Upcoming Due Date : {{post.DueDate}}</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>Joining date : {{post.timeStamp}}</h2></li>
      
       
      </ul>
      {% endfor %}
    
    
    </div>
    
    <div class="col-md-3"></div>
    
    </div>
    
    
    
    </div>




{% endblock body %}